.background-1 {
    background-image: url("../img/BackGroundImages/BG1.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.background-2 {
    background-image: url("../img/BackGroundImages/BG2.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.background-3 {
    background-image: url("../img/BackGroundImages/BG3.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.background-4 {
    background-image: url("../img/BackGroundImages/BG4.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.background-5 {
    background-image: url("../img/BackGroundImages/BG6.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.background-6 {
    background-image: url("../img/BackGroundImages/BG6.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.background-7 {
    background-image: url("../img/BackGroundImages/BG7.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.background-8 {
    background-image: url("../img/BackGroundImages/BG8.JPG");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}